html {
  scroll-behavior: smooth;
}

.firstAnchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: #e0e0e0;
}

.navBar {
  position: fixed;
  max-height: 124px;
  border-bottom: 1px solid rgb(213 217 220);
  top: 0;
  left: 0;
  padding: 30px 30px 20px 30px;
  background-color: #fff;
  color: black;
}

.screen-size-container {
  width: 100%;
  height: 100vh;
}

.flexGap {
  gap: 30px;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  gap: 35px;
  flex-wrap: nowrap;
}

@media screen and (max-width: 769px) {
    .flexCenter {
        flex-wrap: wrap;
    }
}

.flextrueCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-direction: column;
  height: 95%;
  text-align: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.flexAround-nowrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.flexEven {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.flexColumn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  flex-direction: column;
}

.logo {
  width: 80%;
  max-width: 300px;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 100;
}

.fakelogo {
  position: absolute;
  top: 30px;
  left: 30px;
  display: inline-block;
}

.height-one-quarter {
  max-height: 25%;
}

.height-one-third {
  max-height: 33%;
}

.height-one-half {
  max-height: 50%;
}

.height-two-thirds {
  max-height: 50%;
}

.height-three-quarters {
  max-height: 75%;
}

.height-full {
  max-height: 100%;
}

.fullWidth {
  width: 100%;
}

img {
  max-width: 500px;
  min-width: 200px;
}

video {
  max-width: 500px;
}

.screen-size-container video {
  max-width: 100%;
}

.arrow {
  height: 50px;
}

.icon {
  max-width: 125px;
  min-width: 60px;
}

.header_icon {
  max-width: 80px;
  min-width: 60px;
}

.half-width {
  width: 50%;
}

.two-thirds-width {
  width: 66%;
}

.eighty-percent-width {
    width: 80%;
}

.heavensFamily {
  background-image: url('/images/heavensFamily.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.background-image {
  position: absolute;
  opacity: 50%;
  z-index: -1;
  left: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
  height: 100vh;
}

/* burger menu */
.headerMenu {
  position: fixed;
  left: 35%;
  top: -140px;
  z-index: 100;
  width: 400px;
  height: 200px;
  background: #fff;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

.headerMenu img {
  margin-top: 155px;
  width: 20px;
}

.sectionGap {
  height: 200px;
}

@media screen and (max-width: 749px) {
  .small-hide {
    display: none;
  }
}

.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.snap {
  scroll-snap-align: start;
}

.section-padding {
  padding: 30px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}


.frame-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */  
  padding-top: 25px;
  width: 300%; /* enlarge beyond browser width */
  left: -100%; /* center */
  z-index: 1;
}

.frame-container iframe {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  z-index: -1;
}

.wrapper {
  overflow: hidden;
  max-width: 100%;
}

@media screen and (min-width: 769px) {
    .show-large{
        display: block;
    }
    
    .show-small{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .show-small{
        display: block;
    }

    .show-large{
        display: none;
    }

    .frame-container{
        padding-bottom: 130%;
    }
}

.row {
    gap: 15px;
    margin: 0; 
}

.row * {
    padding-right: 0;
    padding-left: 0;
}

form {
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .col {
        flex: 1 0 34%;
    }
}




section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section.small .shot-images {
  width: 220px;
  height: 165px;
}

.shot-images {
  display: flex !important;
  flex-wrap: nowrap;
  width: 600px;
  height: 650px;
  margin: 1em;
  overflow: hidden;
  background: #e0e0e0;
  border-radius: 8px;
  position: relative;
  counter-reset: art-thumb-count;
}
.shot-images > *:first-child {
  z-index: 0;
  position: static;
  overflow: visible;
}
.shot-images > *:first-child > img {
  opacity: 1;
}
.shot-images.hover > *:first-child,
.shot-images.hover > * {
  position: relative !important;
  z-index: 1 !important;
}
.shot-images.hover > *:first-child > img,
.shot-images.hover > * > img {
  opacity: 0;
}
.shot-images.hover > *:first-child:hover,
.shot-images.hover > *:hover {
  position: static !important;
  z-index: 0 !important;
  overflow: visible !important;
}
.shot-images.hover > *:first-child:hover > img,
.shot-images.hover > *:hover > img {
  opacity: 1 !important;
}
.shot-images > * {
  flex: 1 !important;
  width: 0 !important;
  border-radius: 0 !important;
  position: relative;
  z-index: 1;
  overflow: hidden;
  counter-increment: art-thumb-count;
}
.shot-images > * > img {
  min-width: 100%;
  height: auto !important;
  max-width: 100%;
  width: auto !important;
  border-radius: 8px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  display: block;
  transform: translate(-50%, -50%);
}



.display_none{
    display: none;
}

.display_block{
    display: block;
}